<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Alucard's Portifolio | Simple HTML</title>

</head>

<body>
    
    <div class="container">
        <div class="glass-container">
            <nav class="nav navbar">
                <div class="logo"><a href="#" style="color: antiquewhite;">Alucard</a></div>
                <ul class="nav-links">
                    <li class="nav-link"><a href="alucard-portifolio.up.railway.app" style="color: antiquewhite;">Home</a></li>
                    <li class="nav-link"><a href="https://www.linkedin.com/in/rodrigo-de-souza-graca/" style="color: antiquewhite;">Linkedin</a></li>
                    <li class="nav-link"><a href="https://github.com/LastHasagi" style="color: antiquewhite;">GitHub</a></li>
                </ul>
            </nav>
            <div class="content"></div>
                <div class="main">
                    <h2>Hey ! 🐧, <br>Alucard Here</h2>
                    <p>
                        I'm 20 years old and I'm studying Python, HTML, CSS, JavaScript and Java.<br>
                        I work with programing since 2020 as a back-end developer.<br>
                        I'm currently working at <a href="https://www.dsxgrupo.com.br" style="color: rgb(245, 174, 82);">DSX Seviços</a> as a back-end developer.<br>
                        You can find my projects at my GitHub
                    </p>
                    <a href="https://wa.me/+5521969243829">
                        <button>Hire me</button>
                    </a>
                    <div class="image-wrapper">
                        <img src="{{ url_for('static', filename='prog.png') }}">
                        <div class="attrebute">
                            <a
                            href="https://www.freepik.com/free-psd/marketing-concept-with-woman-rocketship_33417710.htm#page=2&query=3d%20illustration&position=32&from_view=search&track=ais">Image
                            by Freepik</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</body>
</html>